*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------Header---------------------------- */
* {
	font-family: 'Montserrat', sans-serif;
 }


.scroll-on{
  position: fixed !important;
  background-color: rgb(251, 246, 246) !important;
  top: 0 !important;
  width: 100%;

}


.navbar-nav-header a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-light-header .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
  
}
.navbar-light-header .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #060606;
}
.navbar-light-header .navbar-nav .nav-link {
	color: #060606;
}
.navbar-light-header .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #060606;
}
.header-hig{
	height: 100vh;
    width: 100%;
}

.navbar-toggler-header {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
@media only screen and (max-width: 767px) {
	.navbar-nav-header {
		/* text-align: center; */
		background: rgb(0, 0, 0);
   
	}
  .navbar-light-header .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffff;
  }
  .navbar-light-header .navbar-nav .nav-link {
    color: #ffff;
  }
  .navbar-light-header .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ffff;
  }

 
} 


.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}
 
.dropdown-toggle::after {
   transition: transform 0.50s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(10px);
}

.dropdown-menu {
  margin-top: 0;
  background-color: #000 !important;
  color: #e4e4e4 !important; 
}
.dropdown-item a{
  color: #fff !important;
}
.dropdown-item{
  color: #fff !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;

}

.dropdown-item:hover{
  background-color:black !important;
  color: #fff !important;

}



.dropdown {
  display: inline-block;
  position: relative;
  vertical-align: top;
 
}

.dropdown_menu-8{
animation: downOut 300ms ease-in-out forwards

}

@keyframes downOut {
0% {
  transform: translateZ(200px) transLateY(40px)
}
80% {
  transform: translateZ(-10px) transLateY(0px)
}
100% {
  transform: translateZ(0px) transLateY(0px)
}
}














 




/* ----big card--- */
.my-container-slider{
    max-width: 1200px;
    margin: 0 auto;

}

.menu {
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  list-style-type: none;
} 
 .menu .share i.fa {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(255,70,18);
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
} 

 .menu .share:hover.right .submenu li:nth-child(1) {
  opacity: 1;
  left: 50px;
  transform: rotate(0deg);
  transition-delay: 0.08s;
  border-left: 1px dashed #cccccc;
}
.menu .share:hover.right .submenu li:nth-child(2) {
  opacity: 1;
  left: 100px;
  transform: rotate(0deg);
  transition-delay: 0.16s;
  border-left: 1px dashed #cccccc;
}
.menu .share:hover.right .submenu li:nth-child(3) {
  opacity: 1;
  left: 150px;
  transform: rotate(0deg);
  transition-delay: 0.24s;
  border-left: 1px dashed #cccccc;
}
.menu .share:hover.right .submenu li:nth-child(4) {
  opacity: 1;
  left: 200px;
  transform: rotate(0deg);
  transition-delay: 0.32s;
  border-left: 1px dashed #cccccc;
}
.menu .share:hover.right .submenu li:nth-child(5) {
  opacity: 1;
  left: 250px;
  transform: rotate(0deg);
  transition-delay: 0.4s;
  border-left: 1px dashed #cccccc;
}
.menu.bottomLeft {
  bottom: 92px;
  left: 7px;
}

.menu .submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .submenu li {
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.menu .submenu li a {
  color: #212121;
}
.menu .submenu li a:hover i.fa {
  color: #fff;
}
.menu .submenu li a:hover.facebook i.fa {
  background-color: #3b5999;
}
.menu .submenu li a:hover.twitter i.fa {
  background-color: #55acee;
}
.menu .submenu li a:hover.googlePlus i.fa {
  background-color: #dd4b39;
}
.menu .submenu li a:hover.instagram i.fa {
  background-color: #e4405f;
}

.portfolio{
  background-color:#FAFAFA;
  padding-top: 10px;
  
}



/* ------------footer---------------------- */


.my-row{
  display: flex;
  flex-wrap: wrap;
  }
  ul{
  list-style: none;
  }
  .footer{
  background-color: #24262b;
  padding: 70px 0;
  }
  .footer-col{
  width: 25%;
  /* padding: 0 15px; */
  }
  .footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  }
  .footer-col h4::before{
  content: '';
  position: absolute;
  /* left: 0; */
  bottom: -10px;
  background-color: red;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  }
  .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  }
  .footer-col ul li a{
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
  /* margin-left: -40px; */
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  }
  .footer-col .detail{
  font-size: 14px;
  /* margin-left: -40px; */
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  }
  .footer-col .detail:hover{
  color: #ffffff;
  cursor: pointer;
  }
  .middle{
  color: #bbbbbb;
  }
  .middle:hover{
  cursor: pointer;
  color: #ffffff;
  }
  .footer-col ul li a:hover{
  color: #ffffff;
  cursor: pointer;
  /* padding-left: 10px; */
  }
  .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
  color: #24262b;
  background-color: red;
  cursor: pointer;
  }
  .last{
  color: #ffffff;
  top: 50%;
  }
  .last .span{
  margin-right: 120px;
  }
  .h{
  width: 100%;
  height: 7px;
  border: 0 none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #ffffff;
  }
  @media(max-width: 767px){
  .footer-col {
  width: 50%;
  margin-bottom: 30px;
  }
  }
  @media(max-width: 575px){
  .footer-col {
  width: 100%;
  }
  }

  .copy-color{
    background-color:rgb(255,70,18) ;
    color: #fff;
  }
  .pf-font{
    font-size: 12px;
  }

/* ------------footer-----------close----------- */














        
    


@media (max-width:767px){
    
    .pf-font{
      font-size: 6px;
    }

    }


    


  

